@media only screen and (max-width: 1250px){
        .cards{
            grid-template-columns:repeat(2,1fr) ;
        }
}
    
@media only screen and (max-width: 920px){
    .para-head{
        display: inline-block;
    }
    .container{
          display:none ;
    }
    .statistique{
        height: 300px;
    }
    .sidebar{
        display: none;

    }
    header{
        margin: 0 -2px 0 -356px;
    }
 main{
     margin: 86px,102px,28px,-344px;
     display: flow-root list-item;
     background: none;
 }
 .main-content{
     position: static;
     display: inline-flex;
    }
    }
 
}   